/* Контейнер SVG */
#valve-container {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}

/* Кнопки задвижек */
[id$="_vlv01"] {
  transition: fill 0.3s;
  cursor: pointer;
}

/* Модальные окна */
.valve-modal {
  display: none;
  position: fixed;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 250px;
  font-family: Arial;
  cursor: grab;
}

.modal-header {
  display: flex;
  justify-content: space-between;

  padding: 10px 15px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  cursor: grab; 
}
.modal-title {
  font-weight: bold;
}


.modal-close-btn {
  width: 24px;
  height: 24px;
  border: none;
  background: #e0e0e0;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-close-btn:hover {
  background: #d0d0d0;
}
.modal-content {
  padding: 15px;
}

.modal-buttons {
  display: flex;
  gap:10px;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.action-btn {
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 70px;
}

.open-btn {
  background: #A0A0A0;//#4CAF50;
  color: white;
}
.open-btn:hover {
  background: #d0d0d0;
}

.close-btn {
  background: #A0A0A0;//#f44336;
  color: white;
}
.close-btn:hover {
  background: #d0d0d0;
}

.stop-btn {
  background: #A0A0A0;//#f44336;
  color: white;
}
.stop-btn:hover {
  background: #d0d0d0;
}
